{% extends "base.html" %}

{% block title%}
  Result
{% endblock %}

{% block content%}
<font color="white" class="center">
<h3> About the Application </h3>
</font>
<font color="black" class="center">
<p>
MCQ based quiz Application
</p>
</font>

<font color="white" class="center">
<h4>Team :</h4>
</font>
<font color="black" class="center">
<p>1.Sanket Sawant      19101B0020</p>
<p>2.Kunal Sanwadkar    19101B0027</p>
<p>3.Kundan Badhe       19101B0007</p>
<p>4.Vikas Biradar      19101B0012</p>
</font>
{% endblock %}
